.item  
  %p 
  %img.clippedgar{:src => "/images/cardigan.jpg"} 
  %p
  %img.detailgar{:src => "/images/cardigan-d1.jpg"} 
  %img.detailgar{:src => "/images/cardigan-d2.jpg"} 
  %h2 Patchwork Leather Foldover Jacket