.item  
  %h1 WUG
  .dash
  %h2 Stuffed Toy
  %p 
  %img.foxicon{:src => "/images/raccoon-1.jpg"} 
  %img.foxicon{:src => "/images/raccoon-2.jpg"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 