.item.staerk  
  %h1 Rose + Thorn
  .dash
  %h2 3D Digital Rendering
  %p 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher. 
  %img.staerk{:src => "images/rose-thorn-tag.png"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 