.item.staerk  
  %h1 Rose + Thorn
  .dash
  %h2 3D Digital Rendering
  %img.staerk{:src => "/images/rose-thorn-tag.png"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 