@import partials/reset
@import partials/mixins
@import partials/icomoon

*
  box-sizing: border-box 
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

#load > .container
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto 40px

.container
  width: 100%
  padding: 2.5%

a.email 
  background: $tan
  margin: auto 
  padding: 12px 52px 
  margin-top: 50px 
  color: $white 
  text-transform: uppercase 
  text-align: center 
  font-weight: 500 
  letter-spacing: 2px 
  font-size: 13px
  display: inline-block
  text-decoration: none
  +transition(.2s all)
  &:hover 
    background: darken($tan, 5%)
    color: $white


body
  background: $white
  font-family: avenir
  display: none

header
  position: relative
  height: auto
  text-align: center
  font-size: 32px
  font-weight: 200
  font-family: didot
  letter-spacing: -1px
  color: black
  text-transform: uppercase
  text-decoration: none

h1 
  color: gray
  font-size: 30px
  font-weight: 100
  letter-spacing: 1px
  margin: 16px 0px 16px

p
  color: $white
  font-family: avenir
  line-height: 31px
  font-size: 15px
  text-align: center
  font-weight: 100
  padding: 0 140px

.info
  background: black 
  padding: 60px 
  text-align: center

.item
  text-align: center
  padding: 80px
  font-size: 15px
  p
    color: $dkgray
  img
    width: 500px

ul.nav
  background: $dkgray
  text-align: center 
  &.fixed 
    position: fixed
    top: 0
    left: 0
    right: 0    
  li
    display: inline-block
    padding: 20px 40px
    position: relative
    a
      text-transform: uppercase
      font-weight: 500
      letter-spacing: 1px
      text-shadow: 0px 1px 1px #58585B 
      font-size: 11px
      color: #A7A9AB
      text-decoration: none
    &:before
      opacity: 0
      display: inline-block
      width: 0
      height: 0
      vertical-align: top
      border-bottom: 6px solid $white
      border-right: 6px solid transparent
      border-left: 6px solid transparent
      position: absolute
      bottom: 0
      left: 43%
      content: ""
    &.active:before 
      opacity: 100 
    

footer 
  overflow: auto
  width: 100%
  display: block
  font-size: 14px
  text-align: center
  padding: 50px
  color: $dkgray
  clear: both
  background: $ltgray
  box-shadow: inset 0px 2px 2px rgba(209, 209, 209, 0.63)
  ul
    display: block
    margin-bottom: 30px
    li 
      display: inline-block
      padding: 20px
      font-size: 30px
    a
      color: $dkgray
      text-decoration: none
      :&.hover
        color: $white
  .copy
    display: block

ul.content
  width: 95%
  margin: auto
  text-align: center
  clear: both
  padding: 34px 0px
  overflow: auto
  img 
    padding: 0
  li 
    float: left
    width: 20%
    margin: 2.5% 
    img 
      width: 100%

.circle
  border-radius: 50%
  width: 13px
  height: 13px
  background: $ltgray
  margin: 4px
  display: inline-block

// responsive 
@media (max-width: 570px)
  header 
    ul,
    a.title
      width: 100%
      text-align: center
      margin-bottom: 20px

  ul.contact 
    li 
      width: 90%
      margin: 5%

