#about.info
  .row
    .col-sm-12
      %img.img-responsive.no-border{:src => "/images/blank.jpg"}
  .row.over-image
    .col-sm-12
      %h3 Hi, I'm Alexa.
  .row
    .col-sm-6.col-sm-offset-3
      %p
        I'm a Brooklyn based designer with a background in fashion. I design everything from brand identities to websites and stuffed animals. Regardless of what I'm making, I focus on ease of use + wear, balance, and minimalism. Have a fun project for me to work on? 
        = haml :email
   