%p
  %img{:src => "http://www.sparkyhub.com/wp-content/uploads/2012/04/30-cute-puppies-you-will-want-to-take-home-with-you-9.jpg"}

  blah blah blah i hate lllliififeeeee!!!!!! X_X_X__X_X_X_X__X_X_X_XX__ X_X_X_X