.item
  .row
    .col-md-12   
      %img.img-responsive.no-border.extra-space{:src => "/images/allpaws-3.png"}
      %img.img-responsive.no-border.extra-space{:src => "/images/allpaws-2.png"}
      %img.img-responsive.no-border.extra-space{:src => "/images/allpaws-1.png"}
      %img.img-responsive.no-border.extra-space{:src => "/images/allpaws-4.png"}
  .item-info 
    %h1
      AllPaws
    %p.list
      Web UX/UI Design
      %br
      Responsive Design
    .dash
    %h2 
      %a{:href => "http://www.allpaws.com", :target => "_blank"} www.allpaws.com