.item  
  %img.fashionart{:src => "/images/awright-1.jpg"} 
  %img.fashionart{:src => "/images/awright-2.jpg"} 
  %img.fashionart{:src => "/images/awright-4.jpg"} 
  %h1 
    %a{:href => "http://www.infiniteloopco.com"} www.alexa-wright.com
  .dash
  %h2
    Personal Logo & Branding