.item  
  %p 
  %img.clippedgar{:src => "/images/blkleathervest-f.jpg"} 
  %img.clippedgar{:src => "/images/blkleathervest-b.jpg"}  
  %p
  %img.detailgar{:src => "/images/blkvest-d3.jpg"} 
  %img.detailgar{:src => "/images/blkvest-d2.jpg"} 
  %img.detailgar{:src => "/images/blkvest-d1.jpg"}  
  %h2 Mixed Leather Vest
  %p Mixed black leather vest with built up collar & coated cotton whip-stitching detail around armholes & body