.item  
  %img.clippedgar{:src => "/images/blackskirt/blkskirt-1.jpg"} 
  %img.clippedgar{:src => "/images/blackskirt/blkskirt-2.jpg"} 
  %br
  %img.detailgar{:src => "/images/blackskirt/blkskirt-d1.jpg"} 
  %img.detailgar{:src => "/images/blackskirt/blkskirt-d2.jpg"} 
  %h2 Leather Pocket Skirt
  %p Mixed black leather with flat seams & raw edge pocket flap detail