.item.boucher    
  %img.fashionart{:src => "images/boucher-1.jpg"} 
  %img.fashionart{:src => "images/boucher-2.jpg"} 
  %img.fashionart{:src => "images/boucher-3-REDO.jpg"} 
  %img.fashionart{:src => "images/boucher-4.jpg"} 
  %img.fashionart{:src => "images/boucher-5.jpg"} 
  %img.fashionart{:src => "images/boucher-6.jpg"} 
  %img.fashionart{:src => "images/boucher-7.jpg"} 
  %h1 Fall II Collection
  .dash
  %h2 Boucher
  %p 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher. 