.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/boucher-1.jpg"} 
      %img.full-width{:src => "/images/boucher-2.jpg"} 
      %img.full-width{:src => "/images/boucher-3.jpg"} 
      %img.full-width{:src => "/images/boucher-4.jpg"} 
      %img.full-width{:src => "/images/boucher-5.jpg"} 
      %img.full-width{:src => "/images/boucher-6.jpg"} 
      %img.full-width{:src => "/images/boucher-7.jpg"} 
      %h1 Fall II Collection
      .dash
      %h2 Boucher