.item.boucher    
  %img.fashionart{:src => "images/boucher-1.png"} 
  %img.fashionart{:src => "images/boucher-2.png"} 
  %img.fashionart{:src => "images/boucher-3.png"} 
  %img.fashionart{:src => "images/boucher-4.png"} 
  %img.fashionart{:src => "images/boucher-5.png"} 
  %img.fashionart{:src => "images/boucher-6.png"} 
  %img.fashionart{:src => "images/boucher-7.png"} 
  %h1 Fall II Collection
  .dash
  %h2 Boucher