.item.cfda    
  %img.fashionart{:src => "images/cfda-01.png"} 
  %img.fashionart{:src => "images/cfda-02.png"} 
  %img.fashionart2{:src => "images/cfda-01.jpg"} 
  %img.fashionart2{:src => "images/cfda-02.jpg"} 
  %img.fashionart2{:src => "images/cfda-03.jpg"} 
  %img.fashionart2{:src => "images/cfda-04.jpg"} 
  %img.fashionart2{:src => "images/cfda-05.jpg"} 
  %img.fashionart2{:src => "images/cfda-06.jpg"} 
  %img.fashionart2{:src => "images/cfda-07.jpg"} 
  %img.fashionart2{:src => "images/cfda-08.jpg"}
  %img.fashionart2{:src => "images/cfda-09.jpg"} 
  %img.fashionart2{:src => "images/cfda-10.jpg"} 
  %img.fashionart2{:src => "images/cfda-11.jpg"} 
  %img.fashionart2{:src => "images/cfda-12.jpg"} 
  %h1 Fall I Collection
  .dash
  %h2 Dress Code
  %p 