.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/cfda-01.jpg"} 
      %img.full-width{:src => "/images/cfda-02.jpg"} 
  .row
    .col-sm-6
      %img.half-width{:src => "/images/cfda-03.jpg"} 
    .col-sm-6
      %img.half-width{:src => "/images/cfda-04.jpg"} 
    .col-sm-6
      %img.half-width{:src => "/images/cfda-05.jpg"} 
    .col-sm-6
      %img.half-width{:src => "/images/cfda-06.jpg"} 
    .col-sm-6
      %img.half-width{:src => "/images/cfda-07.jpg"} 
    .col-sm-6
      %img.half-width{:src => "/images/cfda-08.jpg"}
    .col-sm-6
      %img.half-width{:src => "/images/cfda-09.jpg"}
    .col-sm-6 
      %img.half-width{:src => "/images/cfda-10.jpg"}
    .col-sm-6 
      %img.half-width{:src => "/images/cfda-11.jpg"}
    .col-sm-6 
      %img.half-width{:src => "/images/cfda-12.jpg"} 
    %h1 Fall I Collection
    .dash
    %h2 Dress Code