.item
  .row
    .col-md-12   
      %img.third-width{:src => "/images/vlsite-1.jpg"}
  / %h1 
  /   %embed{:height => "600", :src => "/images/bamvideo.mov", :width => "900", :scale => "tofit"}
  .item-info 
    %h1
      Chloe + Isabel
    %p.list
      Web Design 
    .dash
    %h2 
      %a{:href => "http://www.chloeandisabel.com/", :target => "_blank"}www.chloeandisabel.com
