.item    
  %img.fashionart{:src => "/images/bk-logo.jpg"} 
  %img.fashionart{:src => "/images/bk-scissortm.jpg"} 
  %img.fashionart{:src => "/images/bk-scissorpattern.jpg"} 
  %img.fashionart{:src => "/images/bk-scissorpattern2.jpg"} 
  %h1 Launching Soon
  .dash
  %h2 dotBK Brand Identity
  %p.pull-left The dotBK scissor trademark reflects dotBK's roots as a small family business of clothiers based in New York’s garment district. It also speaks to the creative spirit of the artists and innovators who inspire and wear their clothing, those who understand and appreciate craftsmanship and authenticity.
  %p.pull-left The unique shape of the scissor subtly mimics a backwards letter B and K, differentiating the icon from other scissor iconography, and allows for brand association. The trademark holds great potential for playful exploration within garment details and print development. 
