.item.drsite    
  %img.site{:src => "images/DR-site.jpg"} 
  %img.site{:src => "images/DR-site2.jpg"} 
  %h1 Dylan & Rose
  .dash
  %p As Dylan & Rose formed it's identity as a brand, they needed a site to reflect their youthful, contemporary aesthetic. Blah blah.