.projects 
  .row  
    .project-tile.col-sm-3.col-xs-6
      %a{:href => "/cfda"}
        %img{:src => "/images/tnail-cfda.jpg"} 
      %h4 Dress Code Collection   
    .project-tile.col-sm-3.col-xs-6
      %a{:href => "/boucher"}
        %img.no-shadow{:src => "/images/tnail-boucher.jpg"} 
      %h4 Boucher Collection     
    .project-tile.col-sm-3.col-xs-6
      %a{:href => "/wetlook"}
        %img{:src => "/images/tnail-wetlook.jpg"} 
        %h4 Wetlook Collection
    .project-tile.col-sm-3.col-xs-6
      %a{:href => "/happa"}
        %img.no-shadow{:src => "/images/tnail-happa.jpg"} 
        %h4 Happa Collection

    .project-tile.col-sm-3.col-xs-6
      %a{:href => "/patchwork"}
        %img.no-shadow{:src => "/images/tnail-patchwork.jpg"}   
    .project-tile.col-sm-3.col-xs-6
      %a{:href => "/leatherskirt1"}
        %img.no-shadow{:src => "/images/tnail-leatherskirt2.jpg"} 
    .project-tile.col-sm-3.col-xs-6
      %a{:href => "/blkleathervest"}
        %img.no-shadow{:src => "/images/tnail-blkvest.jpg"}  
    .project-tile.col-sm-3.col-xs-6
      %a{:href => "/blkskirt"}
        %img.no-shadow{:src => "/images/tnail-blkskirt.jpg"}   
