%ul.projects   
  %li 
    %a{:href => "/cfda"}
      %img{:src => "/images/tnail-cfda.jpg"} 
    %h4 Dress Code Collection   
  %li 
    %a{:href => "/boucher"}
      %img.f{:src => "/images/tnail-boucher.jpg"} 
    %h4 Boucher Collection     
  %li 
    %a{:href => "/wetlook"}
      %img{:src => "/images/tnail-wetlook.jpg"} 
    %h4 Wetlook Collection
  %li 
    %a{:href => "/happa"}
      %img.f{:src => "/images/tnail-happa.jpg"} 
    %h4 Happa Collection
  %li 
    %a{:href => "/patchwork"}
      %img.f{:src => "/images/tnail-patchwork.jpg"}   
  %li 
    %a{:href => "/leatherskirt1"}
      %img.f{:src => "/images/tnail-leatherskirt2.jpg"} 
  %li 
    %a{:href => "/blkleathervest"}
      %img.f{:src => "/images/tnail-blkvest.jpg"}  
  %li 
    %a{:href => "/blkskirt"}
      %img.f{:src => "/images/tnail-blkskirt.jpg"}   
  / %li 
  /   %a{:href => "/leathercardigan"}
  /     %img.f{:src => "/images/tnail-cardigan.jpg"}