%ul.projects
  %li 
    %a{:href => "/patchwork"}
      %img.f{:src => "images/tnail-leather-jacket.jpeg"}   
  %li 
    %a{:href => "/patchwork"}
      %img.f{:src => "images/tnail-patchwork.png"}   
  %li 
    %a{:href => "/leatherskirt1"}
      %img.f{:src => "images/Leather-Skirt-2.jpg"} 
  %li 
    %a{:href => "/cardigan"}
      %img.f{:src => "images/tnail-cardigan.jpg"}  
  %li 
    %a{:href => "/patchwork"}
      %img.f{:src => "images/tnail-leather-jacket.jpeg"}   
  %li 
    %a{:href => "/cfda"}
      %img{:src => "images/tnail-cfda.png"} 
    %h4 Dress Code Collection   
  %li 
    %a{:href => "/boucher"}
      %img.f{:src => "images/tnail-boucher.png"} 
    %h4 Boucher Collection
  %li 
    %a{:href => "/happa"}
      %img.f{:src => "images/tnail-happa.png"} 
    %h4 Happa Collection