%ul.projects
  %li 
    %a{:href => "/threadpillows"}
      %img{:src => "images/tnail-leather-jacket.jpeg"}   
  %li 
    %a{:href => "/leatherskirt1"}
      %img{:src => "images/Leather-Skirt-2.jpg"} 
  %li 
    %a{:href => "/threadpillows"}
      %img{:src => "images/tnail-leather-jacket.jpeg"}   
  %li 
    %a{:href => "/leatherskirt1"}
      %img{:src => "images/Leather-Skirt-2.jpg"} 
      