%footer
  %ul
    %li
      %a.icon-mail{:href => "mailto:alexalwright@gmail.com"}
    %li
      %a.icon-twitter{:href => "http://www.twitter.com/eatthesalt"}
    %li
      %a.icon-tumblr{:href => "http://bellyfeel.tumblr.com"}
    %li
      %a.icon-github{:href => "http://www.github.com/alexawright"}
    %li
      %a.icon-dribbble{:href => "http://dribbble.com/alexawright"}
    %li
      %a.icon-linkedin{:href => "http://bellyfeel.tumblr.com"}
  %span.copy © 2013 Alexa Wright