.item.staerk  
  %h1 RYAN ROGALSKI
  .dash
  %h2 Fox Icon
  %img.foxicon{:src => "images/fox-icon.png"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 