.item.staerk  
  %h1 Frankie
  .dash
  %h2 Stuffed Toy
  %img.frankie{:src => "images/frankie1.png"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 