%ul.projects
  %li
    %a{:href => "/zbsizechart"}
      %img{:src => "images/tnail-zbsizechart.jpg"}
  %li
    %a{:href => "/wanggrid"}
      %img{:src => "images/tnail-wang.jpg"}
  %li 
    %a{:href => "/ryanbday"}
      %img{:src => "images/tnail-bday.jpg"} 
  %li 
    %a{:href => "/foxicon"}
      %img{:src => "images/tnail-foxicon-closeup2.jpg"} 
  %li
    %a{:href => "/rosethorn"}
      %img{:src => "images/tnail-rosethorn.jpg"}
  %li 
    %a{:href => "/zana"}
      %img{:src => "images/tnail-zanatape.jpg"} 
  %li 
    %a{:href => "/staerk"}
      %img{:src => "images/tnail-chair.jpg"} 
  %li 
    %a{:href => "/stray"}
      %img{:src => "images/tnail-stray.jpg"} 

