.projects
  .row  
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/sols"}
        %img{:src => "/images/tnail-sols.jpg"}
        %h4 SOLS 
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/vanessaliannejewelry"}
        %img{:src => "/images/tnail-vanessa2.jpg"}
        %h4 Vanessa Lianne Jewelry  
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/infiniteloop"}
        %img{:src => "/images/tnail-infiniteloop.jpg"}
        %h4 Infinite Loop Branding  
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/dotbk"}
        %img{:src => "/images/tnail-dotbk.jpg"}
        %h4 dotBK Branding   
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/toastgame"}
        %img{:src => "/images/tnail-toast.jpg"}
        %h4 iPhone Game 
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/monkeybadger"}
        %img{:src => "/images/tnail-monkeybadger.jpg"}
        %h4 Monkeybadger Branding  
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/misterux"}
        %img{:src => "/images/tnail-tools.jpg"}
        %h4 Mr. UX Illustrations  
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/wanggrid"}  
        %img{:src => "/images/tnail-wang.jpg"}
        %h4 T by Alexander Wang Grid Print 
       
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/zana"}
        %img{:src => "/images/tnail-zanatape.jpg"} 
        %h4 Zana Bayne Packaging Tape & Size Chart
    .project-tile.col-xs-6.col-md-3
      %a{:href => "/foxnbat"}
        %img{:src => "/images/tnail-foxnbat.jpg"}
        %h4 The Adventures of Starfox & Babybat
    / .project-tile.col-xs-6.col-md-3 
    /   %a{:href => "/ryanbday"}
    /     %img{:src => "/images/tnail-bday.jpg"} 
    /     %h4 Birthday Illustration  

    .project-tile.col-xs-6.col-md-3
      %a{:href => "/rosethorn"}
        %img{:src => "/images/tnail-rosethorn.jpg"}
        %h4 Rose + Thorn Logo & Hangtag   
    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/foxicon"}
        %img{:src => "/images/tnail-fox.jpg"} 
        %h4 Spirit Animal Icon    
    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/staerk"}
        %img{:src => "/images/tnail-chair.jpg"} 
        %h4 STAERK 3D Renderings  
    / .project-tile.col-xs-6.col-md-3 
    /   %a{:href => "/stray"}
    /     %img{:src => "/images/tnail-stray.jpg"} 
    /     %h4 Green River Hiking Catalog
