%ul.projects
  %li 
    %a{:href => "/foxicon"}
      %img{:src => "images/fox-icon.png"} 
  %li
    %a{:href => "/zbsizechart"}
      %img{:src => "images/sizing-figures.png"}
  %li 
    %a{:href => "/staerk"}
      %img{:src => "images/staerk-furn-2.png"} 
  %li
    %a{:href => "/rosethorn"}
      %img{:src => "images/tnail-rose-thorn.png"}
  %li
    %a{:href => "/mkpillow"}
      %img{:src => "images/mackpillow.jpg"}
  %li
    %a{:href => "/zbsizechart"}
      %img{:src => "images/sizing-figures.png"}
  %li
    %a{:href => "/zbsizechart"}
      %img{:src => "images/sizing-figures.png"}  
  %li
    %a{:href => "/zbsizechart"}
      %img{:src => "images/sizing-figures.png"}


