%ul.projects  
  %li
    %a{:href => "/misterux"}
      %img{:src => "images/tnail-tools.jpg"}
      %h4 Mr. UX Illustrations  
  %li
    %a{:href => "/wanggrid"}  
      %img{:src => "images/tnail-wang.jpg"}
      %h4 T by Alexander Wang Grid Print  
  %li
    %a{:href => "/zbsizechart"}
      %img{:src => "images/tnail-zbsizechart.jpg"}
      %h4 Zana Bayne Size Chart  
  %li
    %a{:href => "/zana"}
      %img{:src => "images/tnail-zanatape.jpg"} 
      %h4 Zana Bayne Packaging Tape  
  %li 
    %a{:href => "/ryanbday"}
      %img{:src => "images/tnail-bday.jpg"} 
      %h4 Birthday Illustration  
  %li
    %a{:href => "/rosethorn"}
      %img{:src => "images/tnail-rosethorn.jpg"}
      %h4 Rose + Thorn Logo & Hangtag   
  %li 
    %a{:href => "/foxicon"}
      %img{:src => "images/tnail-fox.png"} 
      %h4 Spirit Animal Icon    
  %li 
    %a{:href => "/staerk"}
      %img{:src => "images/tnail-chair.jpg"} 
      %h4 STAERK 3D Renderings  
  %li 
    %a{:href => "/stray"}
      %img{:src => "images/tnail-stray.jpg"} 
      %h4 Green River Hiking Catalog

