.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/happa1.jpg"} 
      %img.full-width{:src => "/images/happa2.jpg"} 
      %img.full-width{:src => "/images/happa3.jpg"} 
      %img.full-width{:src => "/images/happa4.jpg"} 
      %img.full-width{:src => "/images/happa5.jpg"} 
      %img.full-width{:src => "/images/happa6.jpg"} 
      %img.full-width{:src => "/images/happa7.jpg"} 
      %h1 Spring I Collection
      .dash
      %h2 Happa