.item.happa   
  %img.fashionart{:src => "images/happa1.png"} 
  %img.fashionart{:src => "images/happa2.png"} 
  %img.fashionart{:src => "images/happa3.png"} 
  %img.fashionart{:src => "images/happa4.png"} 
  %img.fashionart{:src => "images/happa5.png"} 
  %img.fashionart{:src => "images/happa6.png"} 
  %img.fashionart{:src => "images/happa7.png"} 
  %h1 Spring I Collection
  .dash
  %h2 Happa