%header
  .container
    %a{:href => "/"}
      %img.header{:src => "images/logo.png"} 

.info
  %h3 Hi, I'm Alexa. 
  %p
    I'm a Brooklyn based designer with a background in fashion design. I design everything from brand identites to websites and stuffed animals. Minimalism Feel free to 
    = haml :email
    
%ul.nav
  %li
    %a{:href => "/graphics"} Graphic + Illustration
  %li
    %a{:href => "/fashion"} Fashion
  %li
    %a{:href => "/play"} Play
  %li
    %a{:href => "/web"} Web Design