%header
  .container
    %img.header{:src => "images/logo.png"} 

.info
  %h3 Hi, my name is Alexa. 
  %p
    Hey don't judge me for the text I'm writing here because it's just placeholder text. I never want to finalize this copy can somebody just pls write it for me pls pls pls? Feel free to 
    %a{:href => "mailto:alexalwright@gmail.com"} email me. 
    
%ul.nav
  %li.active
    %a{:href => "/graphics"} Graphic + Illustration
  %li
    %a{:href => "/fashion"} Fashion
  %li 
    %a{:href => "/play"} Play
  %li 
    %a{:href => "/web"} Web Design