.sticky-header
  %header
    .container
      %a{:href => "/"}
        %img.header{:src => "/images/logo.jpg"} 

  %ul.nav
    %li
      %a{:href => "/graphics"} Branding + Illustration
    %li
      %a{:href => "/fashion"} Fashion
    %li
      %a{:href => "/play"} Play
    %li
      %a{:href => "/web"} Web
    %li
      %a.about-link{:href => "#"} About
