%header
  .container
    Alexa Wright

.info
  %p
    Jean shorts assumenda blue bottle, hashtag organic narwhal eiusmod tofu aesthetic try-hard dolore cosby sweater direct trade odd future wes anderson. Pour-over authentic 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. Enim authentic butcher, mcsweeney's brooklyn odd future viral aute small batch consequat Austin. Ullamco thundercats actually
  :javascript
    //
    <!--
    var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
    "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
    " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!29{)rt{y+xx=l;=+;" +
    "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
    "\"(1)\\\\,E\\\"GMXR1G03\\\\\\\\JX30\\\\03\\\\03\\\\\\\\20\\\\0\\\\\\\\\\\\\\"+
    "\\5\\\\03\\\\\\\\31\\\\06\\\\01\\\\\\\\03\\\\0n\\\\\\\\\\\\7,03\\\\\\\\02\\" +
    "\\06\\\\01\\\\\\\\01\\\\05\\\\02\\\\\\\\21\\\\0t\\\\\\\\\\\\05\\\\03\\\\03\\"+
    "\\\\\\07\\\\0r\\\\\\\\\\\\01\\\\0a\\\\1|00\\\\\\\\575;0:01\\\\\\\\tt\\\\\\\\"+
    "'i67\\\"\\\\\\\\\\\\:.nm27\\\\0'\\\\+&*i%,%.01\\\\04\\\\YWNTVL@XZR6T01\\\\\\"+
    "\\\\\\\\\\\\\\\\\\]FNY7C01\\\\\\\\6p02\\\\\\\\LLOZ06\\\\07\\\\00\\\\\\\\Ox@" +
    "KzMA<h!xittt61(7:17\\\\\\\\j|dz|~}$bfpklg\\\\e(\\\"}fo;n uret}r);+)y+^(i)t(" +
    "eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=iy+1)==(iif){++;i<l;i=0(ior;fthn" +
    "glex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                    ;
    while(x=eval(x));
    //-->
    //
    
%ul.nav
  %li.active 
    %a{:href => "/web"} Web Design
  %li
    %a{:href => "/fashion"} Fashion Design
  %li 
    %a{:href => "/graphics"} Graphic Design + Illustration
  %li 
    %a{:href => "/play"} Play