.sticky-header
  %header
    .container
      %a{:href => "/"}
        %img.header{:src => "/images/logo.jpg"} 

  %ul.nav
    %li
      %a{:href => "/graphics"} Branding + Illustration
    %li
      %a{:href => "/fashion"} Fashion
    %li
      %a{:href => "/play"} Play
    %li
      %a{:href => "/web"} Web
    %li
      %a{:href => "/web"} About


  .info
    %h3 Hi, I'm Alexa. 
    %p
      %span.hide-mobile
        I'm a Brooklyn based designer with a background in fashion. I design everything from brand identities to websites and stuffed animals. Regardless of what I'm making, I focus on ease of use + wear, balance, and minimalism. 
      %br 
      Have a fun project for me to work on? 
      = haml :email
      