.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/infiniteloop-1.jpg"} 
      %img.full-width{:src => "/images/infiniteloop-2.jpg"} 
      %img.full-width{:src => "/images/infiniteloop-4.jpg"} 
      %img.no-shadow.half-width{:src => "/images/infiniteloop-3.jpg"} 
  %h1 
    %a{:href => "http://www.infiniteloopco.com"} www.infiniteloopco.com
  .dash
  %h2
    Infinite Loop Branding