.item 
  .row 
    .col-md-6
      %img.no-shadow{:src => "/images/leatherskirt-1.jpg"} 
    .col-md-6
      %img.no-shadow{:src => "/images/leatherskirt-2.jpg"} 
    %h2 Leather Patchwork Skirt
    %p Reverse side leather patchwork with raw hem & patch pocket detail