.item  
  %h1 Leather Skirt
  .dash
  %h2 Reverse Side Leather Patchwork Skirt
  %p 
  %img.leatherskirt1{:src => "images/leather-skirt-1.jpg"} 
  %img.leatherskirt1{:src => "images/leather-skirt-2.jpg"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 