.item  
  %p 
  %img.clippedgar{:src => "/images/leatherskirt-1.jpg"} 
  %img.clippedgar{:src => "/images/leatherskirt-2.jpg"} 
  %h2 Leather Patchwork Skirt
  %p Reverse side leather patchwork with raw hem & patch pocket detail