.item  
  %p 
  %img.clippedgar{:src => "/images/leather-skirt-1.jpg"} 
  %img.clippedgar{:src => "/images/leather-skirt-2.jpg"} 
  %h2 Leather Patchwork Skirt
  %p Reverse side leather patchwork with raw hem & patch pocket detail