.item
  .row
    .col-md-12  
      %img.full-width.no-shadow{:src => "/images/tools.jpg"} 
      %img.full-width.no-shadow{:src => "/images/puzzle.jpg"} 
      %img.full-width.no-shadow{:src => "/images/monkey.jpg"} 
      %img.full-width.no-shadow{:src => "/images/prism.jpg"}
      %img.full-width.no-shadow{:src => "/images/iterate.png"}
      %img.full-width.no-shadow{:src => "/images/brain.png"}
      %img.full-width.no-shadow{:src => "/images/ipad_cut.png"}
      %img.full-width.no-shadow{:src => "/images/monolith-monkey.jpg"}  
  .item-info 
    %h1
      Mister UX
    %p 
      I developed each of these illustrative concepts based on copy from the Mister UX site. I drew in mathematical, geometric, and references to perspective sketches to 
    .dash
    %h2 
      %a{:href => "http://www.misterux.com", :target => "_blank"}www.misterux.com