.item.mister    
  %img.mrux{:src => "/images/tools.jpg"} 
  %img.mrux.puzzle{:src => "/images/puzzle.jpg"} 
  %img.mrux{:src => "/images/monkey.jpg"} 
  %img.mrux{:src => "/images/prism.jpg"}
  %img.mrux.puzzle{:src => "/images/iterate.png"}
  %img.mrux.puzzle{:src => "/images/brain.png"}
  %img.mrux{:src => "/images/ipad_cut.png"}
  %img.mrux.puzzle{:src => "/images/monolith-monkey.jpg"}  
  %h1 
    %a{:href => "http://www.misterux.com", :target => "_blank"}misterux.com
  .dash
  %h2 Mr. UX Site Graphics