.item.mister    
  %img.mrux{:src => "/images/tools.jpg"} 
  %img.mrux.puzzle{:src => "/images/puzzle.png"} 
  %img.mrux{:src => "/images/monkey.png"} 
  %img.mrux{:src => "/images/prism.png"}
  %img.mrux.puzzle{:src => "/images/monolith-monkey.png"}  
  %h1 
    %a{:href => "http://www.misterux.com", :target => "_blank"}misterux.com
  .dash
  %h2 Mr. UX Site Graphics