.item.mister    
  %img.mrux{:src => "images/tools.png"} 
  %img.mrux.puzzle{:src => "images/puzzle.png"} 
  %img.mrux{:src => "images/monkey.png"} 
  %img.mrux{:src => "images/prism.png"}
  %img.mrux.puzzle{:src => "images/monolith-monkey.png"}  
  %h1 Mr. UX
  .dash
  %h2 Site Graphics