.item  
  %h1 Wutname
  .dash
  %h2 Screenprinted Pillow Case
  %p 
  %img.photo{:src => "images/mackpillow.jpg"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 