.item  
  %p 
  %img.mk{:src => "images/mackpillow.jpg"} 
  %h2 Screenprinted Pillow Case Title
  .dash
  %h2 Screenprinted Pillow Case
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 