.item
  .row
    .col-md-12    
      %img.full-width.img-responsive{:src => "/images/monkeybadger-2.jpg"} 
      %img.full-width.img-responsive{:src => "/images/monkeybadger-1.jpg"} 
      %img.full-width.img-responsive{:src => "/images/mbadger.jpg"} 
      %img.half-width.no-shadow.img-responsive{:src => "/images/monkeybadger-3.jpg"} 

  .item-info 
    %h1
      MonkeyBadger
    %p 
      Logo/Brand Identity
    .dash
    %h2 
      %a{:href => "https://bitbucket.org/mmmurf/monkeybadger", :target => "_blank"}MonkeyBadger on BitBucket &raquo;