.item  
  %img.fashionart{:src => "/images/monkeybadger-2.jpg"} 
  %img.fashionart{:src => "/images/monkeybadger-1.jpg"} 
  %img.foxicon{:src => "/images/monkeybadger-3.jpg"} 
  %h2 
    %a{:href => "http://www.staerk.com/"} Monkeybadger Branding