.item  
  %p 
  %img.clippedgar{:src => "images/patchwork-1.png"} 
  %img.clippedgar{:src => "images/patchwork-2.png"} 
  %p
  %img.detailgar{:src => "images/patchwork-d2.jpg"} 
  %img.detailgar{:src => "images/patchwork-d3.jpg"} 
  %img.detailgar{:src => "images/patchwork-d1.jpg"} 
  %h2 Patchwork Leather Foldover Jacket