.item 
  .row 
    .col-sm-6
      %img.no-shadow.img-responsive{:src => "/images/patchwork-1.jpg"} 
    .col-sm-6
      %img.no-shadow.img-responsive{:src => "/images/patchwork-2.jpg"} 
  .row
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork-d2.jpg"} 
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork-d3.jpg"} 
    .col-sm-4
      %img.img-responsive{:src => "/images/patchwork-d1.jpg"} 
  %h2 Patchwork Leather Foldover Jacket