.item 
  .row 
    .col-md-6
      %img.no-shadow{:src => "/images/patchwork-1.jpg"} 
    .col-md-6
      %img.no-shadow{:src => "/images/patchwork-2.jpg"} 
  .row
    .col-md-3
      %img{:src => "/images/patchwork-d2.jpg"} 
    .col-md-3
      %img{:src => "/images/patchwork-d3.jpg"} 
    .col-md-3
      %img{:src => "/images/patchwork-d1.jpg"} 
  %h2 Patchwork Leather Foldover Jacket