%ul.projects
  %a{:href => "/threadpillows"}
    %li 
      %img{:src => "images/thread-pillows-tnail.jpg"} 
      %h4 Organic Thread Print
  %a{:href => "/mkpillow"}
    %li 
      %img{:src => "images/mk-tnail.png"}  
      %h4 Halftone Trap Print
  %a{:href => "/raccoon"}
    %li
      %img{:src => "images/raccoon-1.jpg"}  
      %h4 Wug Stuffed Toy 
  %a{:href => "/frankie"}
    %li
      %img{:src => "images/tnail-frankie.jpg"}  
        %h4 Frankie Stuffed Toy