%ul.projects
  %li 
    %a{:href => "/threadpillows"}
      %img.hover{:src => "images/thread-pillows-tnail.jpg"}   
      %p.text text here
  %li 
    %a{:href => "/mkpillow"}
      %img.hover{:src => "images/mackpillow.jpg"}  
        %p.text text here
  %li 
    %a{:href => "/raccoon"}
      %img.hover{:src => "images/raccoon-1.jpg"}  
      %p.text text here  
  %li 
    %a{:href => "/frankie"}
      %img.hover{:src => "images/tnail-frankie.jpg"}  
      %p.text text here  