%ul.projects
  %li 
    %a{:href => "/threadpillows"}
      %img{:src => "/images/thread-pillows-tnail.jpg"} 
      %h4 Organic Thread Print
  %li 
    %a{:href => "/mkpillow"}
      %img{:src => "/images/mk-tnail.jpg"}  
      %h4 Halftone Trap Print
  %li
    %a{:href => "/raccoon"}
      %img{:src => "/images/raccoon-1.jpg"}  
      %h4 Wug Stuffed Toy 
  %li
    %a{:href => "/frankie"}
      %img{:src => "/images/tnail-frankie.jpg"}  
        %h4 Frankie Stuffed Toy
