%ul.projects
  %li 
    %a{:href => "/threadpillows"}
      %img{:src => "images/thread-pillows-tnail.jpg"}   
  %li 
    %a{:href => "/mkpillow"}
      %img{:src => "images/mackpillow.jpg"} 
  %li 
    %a{:href => "/raccoon"}
      %img{:src => "images/raccoon-1.jpg"}   