.projects
  .row
    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/threadpillows"}
        %img{:src => "/images/thread-pillows-tnail.jpg"} 
        %h4 Organic Thread Print 

    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/mkpillow"}
        %img{:src => "/images/mk-tnail.jpg"}  
        %h4 Halftone Trap Print

    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/raccoon"}
        %img{:src => "/images/raccoon-1.jpg"}  
        %h4 Wug Stuffed Toy 

    .project-tile.col-xs-6.col-md-3 
      %a{:href => "/frankie"}
        %img{:src => "/images/tnail-frankie.jpg"}  
          %h4 Frankie Stuffed Toy
