.item    
  %img.site{:src => "/images/portfolio-site.jpg"} 
  %img.ipad{:src => "/images/portfolio-ipad.jpg"} 
  %br
  %img.wang{:src => "/images/portfolio-iphone.jpg"} 
  %h1 Portfolio Site
  .dash
  %h2 www.alexa-wright.com
