.item  
  %h1 WUG
  .dash
  %h2 Stuffed Toy
  %p 
  %img.photo{:src => "images/raccoon-1.jpg"} 
  %img.photo{:src => "images/raccoon-2.jpg"} 
  %img.wug{:src => "images/wug.jpg"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 