.item.rosethorn 
  %img.rosethorn{:src => "images/rose-thorn-tag.png"}
  #arrowright <
  %h1 Rose + Thorn
  .dash
  %h2 Logo + Hangtag Design
  %p 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher. 