.item.staerk  
  %h1 RYAN ROGALSKI
  .dash
  %h2 Birthday Card
  %img.bdaycard{:src => "images/ryanbday.png"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 