.item
  .row
    .col-md-12    
      %img.img-responsive.no-border.extra-space{:src => "/images/sols-1.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/sols-3.jpg"}
      %img.img-responsive.no-border.extra-space{:src => "/images/sols-2.jpg"} 
  .item-info 
    %h1
      SOLS
    %p.list
      Branding
      %br 
      Packaging Design
      %br 
      %a{:href => "/solssite"}
        Website Design
    .dash
    %h2 
      %a{:href => "http://vanessa-lianne-jewelry.myshopify.com", :target => "_blank"} www.vanessalianne.com