.item
  .row
    .col-md-12   
      %img.img-responsive.extra-space{:src => "/images/solss-0.png"}
      %img.img-responsive.extra-space{:src => "/images/solss-2.png"}
      %img.img-responsive.extra-space{:src => "/images/solss-1.png"}
      %img.img-responsive.extra-space{:src => "/images/solss-5.png"}
      %img.img-responsive.extra-space{:src => "/images/solss-4.png"}
      %img.img-responsive.extra-space{:src => "/images/solss-6.png"}
  .item-info 
    %h1
      SOLS
    %p.list
      %a{:href => "/sols"}
        Branding &raquo;
      %br
      Website Design
      %br 
      Packaging Design
      %br 
      Illustration
    .dash
    %h2 
      %a{:href => "http://www.sols.co", :target => "_blank"} www.sols.co