.item.staerk  
  %img.staerk{:src => "/images/staerk-furn-1.png"} 
  %img.staerk{:src => "/images/staerk-furn-2.png"} 
  %h1 
    %a{:href => "http://www.staerk.com/"} STAERK
  .dash
  %h2 3D Digital Rendering