.item.threads  
  %img.threads{:src => "images/threads-01.jpg"}
  %img.threads{:src => "images/threads-02.jpg"} 
  %img.threads{:src => "images/threads-03.jpg"} 
  %img.threads{:src => "images/threads-04.jpg"} 
  %img.threads{:src => "images/threads-05.jpg"} 
  %h1 Screenprinted Pillows
  .dash
  %h2 Organic Thread Print