.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/threads-01.jpg"}
      %img.full-width{:src => "/images/threads-02.jpg"} 
      %img.full-width{:src => "/images/threads-03.jpg"} 
      %img.full-width{:src => "/images/threads-04.jpg"} 
      %img.full-width{:src => "/images/threads-05.jpg"} 
  %h1 Screenprinted Pillows
  .dash
  %h2 Organic Thread Print