.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/toast-4.jpg"}  
      %img.full-width{:src => "/images/toast-2.jpg"} 
      %img.full-width{:src => "/images/toast-1.jpg"}
      %img.full-width{:src => "/images/toast-3.jpg"} 
      %img.full-width{:src => "/images/toast-5.jpg"} 
  %h1 
    %a{:href => "http://www.infiniteloopco.com"} Character Design
  .dash
  %h2
    Mobile Game