.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/vl-cards.jpg"} 
  .item-info 
    %h1
      Vanessa Lianne Jewelry
    %p 
      Line Sheets, Business Cards & Packaging, Press Kit Lookbook Design 
    .dash
    %h2 
      %a{:href => "http://vanessa-lianne-jewelry.myshopify.com"} www.vanessalianne.com