.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/vl-cards.jpg"} 
  %h1 
    %a{:href => "http://www.vanessaliannejewelry.com"} www.vanessaliannejewelry.com
  .dash
  %h2
    Vanessa Lianne Jewelry Print/Sales Materials & Website Design & Development