.item
  .row
    .col-md-12   
      %img.third-width{:src => "/images/vlsite-1.jpg"}
      %img.third-width{:src => "/images/vlsite-5.jpg"}
      %img.third-width{:src => "/images/vlsite-4.jpg"}
      %img.third-width{:src => "/images/vlsite-2.jpg"}
      %img.third-width{:src => "/images/vlsite-3.jpg"}
      %img.third-width.no-shadow{:src => "/images/vlsite-6.jpg"} 
  %h1 
    %a{:href => "http://vanessa-lianne-jewelry.myshopify.com"} www.vanessalianne.com
  .dash
  %h2
    Vanessa Lianne Jewelry