.item.wanggrid    
  %img.wang{:src => "images/wang_01.jpg"} 
  %img.wang{:src => "images/wang_03.jpg"} 
  %img.wang{:src => "images/wang_02.jpg"} 
  %img.wang{:src => "images/wang_d01.jpg"} 
  %img.wang{:src => "images/wang_d03.jpg"} 
  %img.wang{:src => "images/wang_d04.jpg"} 
  %h1 T by Alexander Wang
  .dash
  %h2 Rubber Screenprinted Grid Design 
  %p Primary print for Resort 2014 Collection.