%ul.projects
  %li
    %a{:href => "/portfoliosite"}
      %img.ownsite{:src => "images/own-site.png"} 
  %li
    %a{:href => "/dylanrose"}
      %img.ownsite{:src => "images/DR-site.jpg"} 
  - 6.times do
    %li
      %img{:src => "http://placehold.it/350x240"}