.projects
  .row
    .project-tile.col-sm-4.col-xs-6
      %a{:href => "/chloeisabel"}
        %img.ownsite{:src => "/images/tnail-chloeisabel.jpg"} 
        %h4 Chloe + Isabel
    .project-tile.col-sm-4.col-xs-6
      %a{:href => "/vanessaliannejewelry"}
        %img.ownsite{:src => "/images/tnail-vanessa.jpg"} 
        %h4 Vanessa Lianne Jewelry
    .project-tile.col-sm-4.col-xs-6
      %a{:href => "/portfoliosite"}
        %img.ownsite{:src => "/images/tnail-portfolio.jpg"} 
        %h4 Portfolio Site