.projects
  .row.web
    .project-tile.col-sm-3
      %a{:href => "/allpaws"}
        %img.add-border.img-responsive{:src => "/images/allpaws-logo.jpg"} 
        %h4 AllPaws
    .project-tile.col-sm-3
      %a{:href => "/solssite"}
        %img.add-border.img-responsive{:src => "/images/sols-logo.jpg"} 
        %h4 SOLS
    .project-tile.col-sm-3
      %a{:href => "/nikon"}
        %img.add-border.img-responsive{:src => "/images/nikon-logo.jpg"} 
        %h4 Nikon
    .project-tile.col-sm-3
      %a{:href => "/chloeisabel"}
        %img.add-border.img-responsive{:src => "/images/chloe-logo.png"} 
        %h4 Chloe + Isabel
    .project-tile.col-sm-3
      %a{:href => "/vanessaliannesite"}
        %img.add-border.img-responsive{:src => "/images/vlj-logo.png"} 
        %h4 Vanessa Lianne Jewelry