.projects
  .row.web
    .project-tile.col-sm-6
      %a{:href => "/vanessalianne"}
        %img{:src => "/images/tnail-vanessa.jpg"} 
        %h4 Vanessa Lianne Jewelry
    .project-tile.col-sm-6
      %a{:href => "/chloeisabel"}
        %img{:src => "/images/tnail-chloe.jpg"} 
        %h4 Chloe + Isabel