.projects
  .row.web
    .project-tile.col-sm-6
      %a{:href => "/vanessaliannesite"}
        %img.add-border.img-responsive{:src => "/images/vlj-logo.png"} 
        %h4 Vanessa Lianne Jewelry
    .project-tile.col-sm-6
      %a{:href => "/chloeisabel"}
        %img.add-border.img-responsive{:src => "/images/chloe-logo.png"} 
        %h4 Chloe + Isabel