.projects
  .row
    .project-tile.col-sm-6
      %a{:href => "/chloeisabel"}
        %img{:src => "/images/tnail-chloe.jpg"} 
        %h4 Chloe + Isabel
    .project-tile.col-sm-6
      %a{:href => "/vanessaliannejewelry"}
        %img{:src => "/images/tnail-vanessa.jpg"} 
        %h4 Vanessa Lianne Jewelry