%ul.projects.web
  %li
    %a{:href => "/portfoliosite"}
      %img.ownsite{:src => "images/own-site.png"} 
      %h4 Personal Portfolio
  %li
    %a{:href => "/dylanrose"}
      %img.ownsite{:src => "images/DR-site.jpg"} 
      %h4 Dylan & Rose