%ul.projects.web
  %li
    %a{:href => "/portfoliosite"}
      %img.ownsite{:src => "/images/tnail-portfolio.jpg"} 
      %h4 Personal Portfolio
  %li
    %a{:href => "/dylanrose"}
      %img.ownsite{:src => "/images/tnail-DRsite.jpg"} 
      %h4 Dylan & Rose