.item  
  %p 
  %img.fashionart{:src => "/images/wetlook-0.jpg"} 
  %img.fashionart{:src => "/images/wetlook-2.jpg"} 
  %img.fashionart{:src => "/images/wetlook-1.jpg"} 
  %img.fashionart{:src => "/images/wetlook-3.jpg"} 
  %img.fashionart{:src => "/images/wetlook-4.jpg"} 
  %img.fashionart{:src => "/images/wetlook-5.jpg"} 
  %img.fashionart{:src => "/images/wetlook-6.jpg"} 
  %h1 Swimwear Collection
  .dash
  %h2 Wetlook