.item
  .row
    .col-md-12    
      %img.full-width{:src => "/images/wetlook-0.jpg"} 
      %img.full-width{:src => "/images/wetlook-2.jpg"} 
      %img.full-width{:src => "/images/wetlook-1.jpg"} 
      %img.full-width{:src => "/images/wetlook-3.jpg"} 
      %img.full-width{:src => "/images/wetlook-4.jpg"} 
      %img.full-width{:src => "/images/wetlook-5.jpg"} 
      %img.full-width{:src => "/images/wetlook-6.jpg"} 
      %h1 Swimwear Collection
      .dash
      %h2 Wetlook