.project
  .info
    %p
      Jean shorts assumenda blue bottle, hashtag organic narwhal eiusmod tofu aesthetic try-hard dolore cosby sweater direct trade odd future wes anderson. Pour-over authentic 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. Enim authentic butcher, mcsweeney's brooklyn odd future viral aute small batch consequat Austin. Ullamco thundercats actually
    %a.email{:href => "mailto:alexalwright@gmail.com"} alexalwright@gmail.com
  %ul.categories
    %li.active Web Design
    %li Fashion Design
    %li Graphic Design + Illustration
    %li Play

%ul.content
  - 12.times do
    %li
      %img{:src => "http://placehold.it/800x1000"}