.project.hangtag
  .info
    %h1 Hangtag Design for Contemporary Womenswear
    %p
      This is the text that goes in the box. Blah blah yes this project was fun is that enough for you to read.
    %p 01.02.2010

.project.rose
  %img{:src => "http://i50.tinypic.com/2mmcvhj.png"}/

.project.zana
  .info
    %h1 Packaging Tape Design for Zana Bayne Leather
    %p
      This is the text that goes in the box. Blah blah yes this project was fun is that enough for you to read.
    %p 02.02.2012
  %img{:src => "http://i47.tinypic.com/2ngalg1.png"}/