.item.zanatape    
  %img.zana{:src => "images/zana-tape.png"} 
  %img.zana_tape{:src => "images/zana-tape-1.png"} 
  %img.zana_tape{:src => "images/zana-tape-2.jpeg"} 
  %h1 Zana Bayne Leather
  .dash
  %h2 Packaging Tape