.item.zana
  %img.zana{:src => "images/zana-tape.png"} 
  %img.zana_tape{:src => "images/zana-tape-1.png"} 
  %img.zana_tape{:src => "images/zana-tape-2.jpeg"} 
  %h1 Packaging Tape | Zana Bayne Leather
  %p 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 
