.item.zana    
  %img.zana{:src => "images/zana-tape.png"} 
  %img.zana_tape{:src => "images/zana-tape-1.png"} 
  %img.zana_tape{:src => "images/zana-tape-2.jpeg"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle  
    %li.circle 
    %li.circle 
    %li.circle 
  %h1 Zana Bayne Leather
  .dash
  %h2 Packaging Tape
  %p 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 3 wolf moon vinyl butcher. 