.item    
  %img.zana{:src => "/images/zbtape.png"} 
  %img.zana_tape{:src => "/images/zana-tape-1.jpg"} 
  %img.zana_tape{:src => "/images/zana-tape-2.jpg"} 
  %h1 Zana Bayne Leather
  .dash
  %h2 Packaging Tape
  %p Right photo from Miss Zana Bayne's instagram.
