.item
  %img{:src => "http://placehold.it/800x500"}
  %h1 Blah Blah Blah
  %p 3 wolf moon vinyl butcher, delectus before they sold out commodo portland ad nihil cupidatat. 
  %ul
    %li.circle 
    %li.circle 
    %li.circle 
    %li.circle 
    %li.circle 
    %li.circle 
