.item
  .row
    .col-md-12    
      %img.img-responsive.no-border{:src => "/images/zbtape.png"} 
  .row
    .col-sm-6
      %img.img-responsive{:src => "/images/zana-tape-1.jpg"} 
    .col-sm-6
      %img.img-responsive{:src => "/images/zana-tape-2.jpg"}
  .row
    .col-sm-12 
      %img.img-responsive.no-border{:src => "/images/sizing-figures.png"} 
      %img.img-responsive{:src => "/images/zanasite.jpg"} 

  .item-info 
    %h1
      Zana Bayne Leather
    %p
      Right photo from Miss Zana Bayne's instagram.
    %p.list
      Packaging Design 
      %br 
      Illustration 
    .dash
    %h2 
      %a{:href => "http://www.zanabayne.com", :target => "_blank"}www.zanabayne.com
