.item.staerk  
  %img.sizechartmain{:src => "images/sizing-figures.png"} 
  %img.sizechart{:src => "images/size-chart.png"} 
  %ul
    %li.circle 
    %li.circle 
    %li.circle 
  %h1 Zana Bayne Leather
  .dash
  %h2 Size Chart Figures
  %p Description here.