%ul.projects
  %a{:href => "/misterux"}
    %li
      %img{:src => "images/tnail-tools.jpg"}
      %h4 Mr. UX Illustrations
  %a{:href => "/wanggrid"}  
    %li
      %img{:src => "images/tnail-wang.jpg"}
      %h4 T by Alexander Wang Grid Print
  %a{:href => "/zbsizechart"}
    %li
      %img{:src => "images/tnail-zbsizechart.jpg"}
      %h4 Zana Bayne Size Chart
  %a{:href => "/zana"}
    %li
      %img{:src => "images/tnail-zanatape.jpg"} 
      %h4 Zana Bayne Packaging Tape
  %a{:href => "/ryanbday"}
    %li 
      %img{:src => "images/tnail-bday.jpg"} 
      %h4 Birthday Illustration
  %a{:href => "/rosethorn"}
    %li
      %img{:src => "images/tnail-rosethorn.jpg"}
      %h4 Rose + Thorn Logo & Hangtag 
  %a{:href => "/foxicon"}
    %li 
      %img{:src => "images/tnail-fox.png"} 
      %h4 Spirit Animal Icon  
  %a{:href => "/staerk"}
    %li 
      %img{:src => "images/tnail-chair.jpg"} 
      %h4 STAERK 3D Renderings
  %a{:href => "/stray"}
    %li 
      %img{:src => "images/tnail-stray.jpg"} 
      %h4 Green River Hiking Catalog

