%ul.projects
  %a{:href => "/portfoliosite"}
    %li.web
      %img.ownsite{:src => "images/own-site.png"} 
      %h4 Personal Portfolio
  %a{:href => "/dylanrose"}
    %li.web
      %img.ownsite{:src => "images/DR-site.jpg"} 
      %h4 Dylan & Rose