footer 
  width: 100%
  display: block
  font-size: 14px
  text-align: center
  padding: 60px
  color: $dkgray
  clear: both
  background-image: url("/images/footer.jpg")
  box-shadow: inset 0px 1px 2px rgba(209, 209, 209, 0.63)
  text-shadow: 0 1px 1px $white, 0 -1px 1px $ltgray
  ul
    display: block
    margin-bottom: 30px
    li 
      display: inline-block
      padding: 20px
      font-size: 30px
    a
      color: $mdgray
      text-decoration: none
      +transition(.2s color)
      &:hover
        color: lighten($dkgray, 20%)
  .copy
    display: block


@media (max-width: 570px)
  footer ul li 
    padding: 3px 
    font-size: 24px

@media (max-width: 480px)
  footer ul li 
    padding: 3px 
