footer 
  width: 100%
  display: block
  font-size: 14px
  text-align: center
  padding: 60px
  color: $dkgray
  clear: both
  background-image: url("http://i42.tinypic.com/ega3oh.jpg")
  // background: rgb(248, 248, 248)
  box-shadow: inset 0px 1px 2px rgba(209, 209, 209, 0.63)
  ul
    display: block
    margin-bottom: 30px
    li 
      display: inline-block
      padding: 20px
      font-size: 30px
    a
      color: $mdgray
      text-decoration: none
      +transition(.2s color)
      &:hover
        color: lighten($dkgray, 20%)
  .copy
    display: block


@media (max-width: 570px)
  footer ul li 
    padding: 6px 
    font-size: 24px