header
  position: relative
  margin-top: 17px
  .container
    padding-top: 10px
  img.header
    width: 110px
    float: left
    padding-left: 15px

#about.info
  border-bottom: 1px solid $ltgray
  border-top: 1px solid $ltgray
  background: rgb(45, 45, 45)
  text-align: left
  .feature-image
    height: 350px
    border-bottom: 1px solid $ltgray
    background-image: url(/images/workspace.jpg)
    background-position: 0% 80%
    background-size: 100%
  img 
    margin-bottom: 30px
  
.about-blurb
  padding: 30px
  background: white
  h3
    text-align: left
    font-size: 37px
    color: black
  ul 
    text-align: left
    margin-top: 8px
  li
    display: inline-block
    padding: 0 5px 30px
    color: $mdgray

  p
    font-family: adobe garamond pro, times, times new roman, serif
    font-size: 25px
    font-weight: 200 
    text-align: center 
    color: $mdgray
    line-height: 26px 
    margin: auto 
    line-height: 1.6em
    text-align: left
  a
    color: #6F6F6F
    text-decoration: none
    font-size: 30px
    &:hover
      color: darken($ltgray, 20%)
      +transition(.3s)
      text-decoration: none

.nav
  text-align: right
  margin-top: -20px
  z-index: 1
  width: 100%
  background: white
  &.fixed 
    position: fixed
    top: 0
    left: 0
    right: 0    
  li
    display: inline-block
    padding: 30px 20px
    position: relative
    &.active 
      a 
        border-bottom: 1px solid rgb(223, 223, 223)

    a
      text-transform: uppercase
      font-weight: 500
      letter-spacing: 1.6px
      font-size: 13px
      color: #232323
      text-decoration: none
      padding-bottom: 3px
      &.mobile-hover
        color: rgb(78, 78, 78)


@media (max-width: 670px)

  .feature-image
    display: none

@media (max-width: $screen-xs-max)

  .hide-mobile 
    display: none
    
  .nav
    margin-top: 20px
    border: 0
    border-top: 1px solid rgba($mdgray, .2)

    li 
      padding: 0
      width: 100%
      border-bottom: 1px solid rgba($mdgray, .2)
      a 
        padding: 15px 0
        display: block
    li.active      
      background: lighten(#ECECEC, 5%)
      &:before 
        opacity: 0
    li.active a 
      border-bottom: 0
      text-decoration: none



  