header
  position: relative
  text-align: center
  margin-top: 17px
  .container
    width: 100%
    padding-top: 12px
  img.header
    width: 85px

.info
  background: $white
  padding: 55px 
  text-align: center
  img 
    margin-bottom: 30px
  h1, h3
    text-align: left
  p
    font-family: adobe garamond pro, times, times new roman, serif
    font-size: 16px
    font-weight: 200 
    text-align: center 
    color: $dkgray
    line-height: 26px 
    margin: auto 
    text-align: left
  a
    color: $dkgray
    text-decoration: none
    border-bottom: 1px solid $dkgray
    &:hover
      color: darken($ltgray, 20%)
      +transition(.3s)
      text-decoration: none

.social ul li 
  display: inline-block
  padding: 0 6px
  a
    border-bottom: none
    color: $dkgray
    font-size: 20px

.nav
  text-align: center
  margin: auto
  z-index: 1
  width: 100%
  border-bottom: 1px solid #DADADA 
  &.fixed 
    position: fixed
    top: 0
    left: 0
    right: 0    
  li
    display: inline-block
    padding: 23px 20px
    position: relative
    a
      text-transform: uppercase
      font-weight: 500
      letter-spacing: 1.6px
      font-size: 12px
      color: rgb(78, 78, 78)
      text-decoration: none
      // text-shadow: rgb(218, 218, 218) 0px 1px 1px
      &.mobile-hover
        color: rgb(78, 78, 78)

@media (max-width: $screen-xs-max)

  .hide-mobile 
    display: none
    
  .nav
    margin-top: 20px
    border: 0
    border-top: 1px solid rgba($mdgray, .2)

    li 
      padding: 15px 0
      width: 100%
      border-bottom: 1px solid rgba($mdgray, .2)
    li.active      
      background: lighten(#ECECEC, 5%)
      &:before 
        opacity: 0



  