header
  position: relative
  text-align: center
  margin-top: 17px
  .container
    width: 100%
    padding-top: 12px
  img.header
    width: 85px

#about.info
  border-bottom: 1px solid $ltgray
  background: $white
  text-align: center
  padding-bottom: 30px
  .feature-image
    height: 400px
    border-bottom: 1px solid $ltgray
    background-image: url(/images/workspace.jpg)
    background-position: 0% 80%
    background-size: 100%
  img 
    margin-bottom: 30px
  h1
    text-align: left
  h3
    text-align: center
    font-size: 37px
    color: $mdgray
  ul 
    text-align: center
    margin-top: 8px
    li
      display: inline-block
      padding: 0 5px
    a 
      border-bottom: none
      color: #5C5C5C
      font-size: 24px
      line-height: 2em
  .about-blurb
    padding: 40px 20px 0 20px

  p
    font-family: adobe garamond pro, times, times new roman, serif
    font-size: 15px
    font-weight: 200 
    text-align: center 
    color: $mdgray
    line-height: 26px 
    margin: auto 
    text-align: left
  a
    color: $dkgray
    text-decoration: none
    border-bottom: 1px solid $dkgray
    &:hover
      color: darken($ltgray, 20%)
      +transition(.3s)
      text-decoration: none
    border-bottom: 1px solid $ltgray

.nav
  text-align: center
  margin: auto
  z-index: 1
  width: 100%
  border-bottom: 1px solid #DADADA 
  &.fixed 
    position: fixed
    top: 0
    left: 0
    right: 0    
  li
    display: inline-block
    padding: 23px 20px
    position: relative
    &.active 
      a 
        border-bottom: 1px solid rgb(223, 223, 223)

    a
      text-transform: uppercase
      font-weight: 500
      letter-spacing: 1.6px
      font-size: 12px
      color: rgb(78, 78, 78)
      text-decoration: none
      padding-bottom: 3px
      &.mobile-hover
        color: rgb(78, 78, 78)


@media (max-width: 670px)

  .feature-image
    display: none

@media (max-width: $screen-xs-max)

  .hide-mobile 
    display: none
    
  .nav
    margin-top: 20px
    border: 0
    border-top: 1px solid rgba($mdgray, .2)

    li 
      padding: 15px 0
      width: 100%
      border-bottom: 1px solid rgba($mdgray, .2)
    li.active      
      background: lighten(#ECECEC, 5%)
      &:before 
        opacity: 0
    li.active a 
      border-bottom: 0
      text-decoration: none



  