.projects
  padding-top: 45px
  margin-bottom: 20px
  padding-left: 20px
  padding-right: 20px
  img
    +box-shadow(0px 1px 1px rgba(209, 209, 209, 0.63))
    display: inline
    opacity: .9
    &:hover
      -webkit-transition: opacity .2s ease-in-out
      opacity: 1
  .row.web img
    max-width: 400px

.project-tile 
  margin-bottom: 50px 
  text-align: center 
  img 
    width: 89%

.item
  text-align: center
  margin: auto
  padding: 40px 50px
  font-size: 15px
  img
    width: 100%
    margin-bottom: 30px
    margin: auto
    text-align: center
    border: 1px solid $ltgray
    box-shadow: 0px 1px 1px rgba(209, 209, 209, 0.63)
    &.full-width
      margin-bottom: 40px
      width: 90%
    &.half-width
      max-width: 450px
      margin-bottom: 40px
    &.third-width
      max-width: 700px
      margin-bottom: 40px
  
img.no-shadow
  box-shadow: none
  border: 0

.dash
  display: block 
  width: 80px 
  height: 0 
  border-top: 1px solid #ddd 
  text-align: center 
  margin: 2em auto

.row.web img 
  border: 1px solid #F5F5F5


@media (max-width: 840px)
  ul
    &.projects,
    &.web 
      li
        width: 45%
        min-height: 480px

@media (max-width: 570px)
  ul
    &.projects,
    &.projects.web 
      li 
        width: 100%
        margin: 0
        min-height: 0

  .item 
    padding: 20px 
    img
      width: 100% !important
      padding: 0 !important 
      margin: 0 0 20px !important
