ul.projects
  width: 95%
  margin: auto
  text-align: center
  clear: both
  padding: 34px 0px
  overflow: auto
  img 
    padding: 0
  li 
    float: left
    width: 20%
    margin: 2.5% 
    img 
      width: 100%

.circle
  border-radius: 50%
  width: 13px
  height: 13px
  background: $ltgray
  display: inline-block
  margin: 40px 8px

.item
  text-align: center
  padding: 80px
  font-size: 15px
  p
    color: $dkgray
  img
    width: 500px
