ul.projects
  width: 95%
  margin: auto
  text-align: center
  clear: both
  padding: 34px 0px
  overflow: auto
  img
    padding: 0
  li 
    float: left
    width: 20%
    margin: 2.5% 
    img 
      width: 100%
      &:hover
        opacity: 0.5
        -webkit-transition: opacity .2s ease-in-out

  .text 
    position: relative
    bottom: 30px
    color: black
    text-decoration: none
    width: 200px
    left: 0px
  //   visibility: hidden
  // .hover .text
  //   visibility: visible

.circle
  border-radius: 50%
  width: 13px
  height: 13px
  background: $ltgray
  display: inline-block
  margin: 40px 8px

.item
  text-align: center
  padding: 70px 0px
  font-size: 15px
  p
    color: $dkgray
    font-size: 14px
    width: 880px
    text-align: center
    margin: auto
  img
    width: 300px
    padding: 80px 0px
    border: 6px rgba(2, 1, 1, 0.07) solid
    &.zana
      width: 100%
      border: none
      padding: 0
    &.rosethorn
      width: 60%
      border: none
      padding: 0
    &.staerk
      width: 70%
      border: none
    &.zana_tape
      width: 300px
      margin: 15px
    &.sizechartmain
      width: 40%
      border: none
      padding: 0
    &.sizechart
      width: 70%
      padding: 0
    &.foxicon
      width: 37%
      margin-bottom: 20px
      border: none
      padding: 0
    &.photo
      width: 35%
      margin: 10px
      padding: 0
    &.bdaycard
      width: 60%
      padding: 0
      margin-bottom: 20px
      border: 0
    &.frankie
      width: 60%
      padding: 0
    &.wug
      width: 60%
      padding: 0
      margin-top: 10px
    &.stray
      width: 50%
      padding: 0
    &.leatherskirt1
      width: 35%
      border: 0
    &.threads
      width: 60%
      padding: 0
      margin-bottom: 15px
  #arrowright
    margin-left: 20px
    position: absolute
    margin-top: -300px
    color: $ltgray
    font-weight: 200
    font-size: 50px

.zana.staerk
  padding: 73px 0px

.dash
  display: block 
  width: 80px 
  height: 0 
  border-top: 1px solid #ddd 
  text-align: center 
  margin: 2em auto

ul li.circle
  box-shadow: inset 0px 2px 3px rgba(209, 209, 209, 0.63)
  &.active
    color: red


